<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchening</title>

    <link rel="stylesheet" href="/css/estilos.css">

    <script src="https://kit.fontawesome.com/0500905a5f.js" crossorigin="anonymous"></script>
</head>

<body class="home">
    <header>
        <div class="logo">
            <img src="/img/logo.jpg" alt="imagen de logo">
        </div>
        <button><i class="fas fa-hamburger"></i></button>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Quienes</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Porfolio</a></li>
            <li><a href="#">Sucursales</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </header>
    <main>
        <div class="banner">
            <img src="/img/img-banner.jpg" alt="">
        </div>
        <section>
            <article>
                <div class="image">
                    <img src="/img/img-pdto-1.jpg" alt="" class="producto">
                    <img src="/img/img-nuevo.png" alt="" class="etiqueta">
                    <a href="/" class="ampliar">ampliar foto</a>
                </div>
                <h3>Lorem ipsum amet</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi laborum eveniet eius atque, nam
                    exercitationem cum modi facere quae nesciunt nobis, velit ex.</p>
                <a href="#">ver más</a>
            </article>
            <article>
                <div>
                    <img src="/img/img-pdto-2.jpg" alt="" class="producto">
                    <img src="/img/img-gratis.png" alt="" class="etiqueta">
                    <a href="/" class="ampliar">ampliar foto</a>
                </div>
                <h3>Lorem ipsum amet</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi laborum eveniet eius atque, nam
                    exercitationem cum modi facere quae nesciunt nobis, velit ex.</p>
                <a href="#">ver más</a>
            </article>
            <article>
                <div>
                    <img src="/img/img-pdto-3.jpg" alt="" class="producto">
                    <img src="/img/img-descuento.png" alt="" class="etiqueta">
                    <a href="/" class="ampliar">ampliar foto</a>
                </div>
                <h3>Lorem ipsum amet</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi laborum eveniet eius atque, nam
                    exercitationem cum modi facere quae nesciunt nobis, velit ex.</p>
                <a href="#">ver más</a>
            </article>
            <article>
                <div>
                    <img src="/img/img-pdto-1.jpg" alt="" class="producto">
                    <img src="/img/img-gratis.png" alt="" class="etiqueta">
                    <a href="/" class="ampliar">ampliar foto</a>
                </div>
                <h3>Lorem ipsum amet</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi laborum eveniet eius atque, nam
                    exercitationem cum modi facere quae nesciunt nobis, velit ex.</p>
                <a href="#">ver más</a>
            </article>
            <article>
                <div>
                    <img src="/img/img-pdto-2.jpg" alt="" class="producto">
                    <img src="/img/img-nuevo.png" alt="" class="etiqueta">
                    <a href="/" class="ampliar">ampliar foto</a>
                </div>
                <h3>Lorem ipsum amet</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi laborum eveniet eius atque, nam
                    exercitationem cum modi facere quae nesciunt nobis, velit ex.</p>
                <a href="#">ver más</a>
            </article>
            <article>
                <div>
                    <img src="/img/img-pdto-3.jpg" alt="" class="producto">
                    <img src="/img/img-descuento.png" alt="" class="etiqueta">
                    <a href="/" class="ampliar">ampliar foto</a>
                </div>
                <h3>Lorem ipsum amet</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi laborum eveniet eius atque, nam
                    exercitationem cum modi facere quae nesciunt nobis, velit ex.</p>
                <a href="#">ver más</a>
            </article>
        </section>
    </main>
    <footer>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Quienes</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Porfolio</a></li>
            <li><a href="#">Sucursales</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </footer>
</body>

</html>